{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板语法</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<h1>模板语法的学习</h1>
{# 添加下面的配置文件,会导致水平线消失.#}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
<div>{{ n1 }}</div>
<div>{{ n2.小白龙 }}</div>
<div>{{ n3.0 }}</div>
<div>{{ n3.1 }}</div>
<hr>
<div>
    {% for item in n3 %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<hr>
<ul>
    {% for item in n2.keys %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
<hr/>
{{ n4.0.name }}

{% for item in n4 %}
    <div>{{ item.name }} {{ item.salary }} {{ item.role }}</div>
{% endfor %}
<hr/>
{% if n1 == "炬星" %}
    <h2>大大大</h2>
{% else %}
    <h2>小小小</h2>
{% endif %}


</body>
</html>